body {
  background-color:#1A233A;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  text-align: center;
  list-style-position: inside;
  font-style: italic;
  text-decoration: none;
  color: #8C6C8A;
  transition: .5s;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  color: #8C6C8A;
}

h2 {
  text-align: center;
  color: #8C6C8A;
}

h3 {
  text-align: center;
  color: #8C6C8A;
}

.movie-list {
  list-style-type: none;
  padding-left: 0; 
}

.movie-list li {
  margin-bottom: 20px;
}

.movie-marker {
  font-size: 12px;
  margin-right: 10px;
}

.movie-title {
  font-weight: bold;
}

.movie-release {
  font-size: 12px;
  margin-right: 10px;
}

* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}