body {
  background-color:#1A233A;
}


ul {
  text-align: center;
  list-style-position: inside;
  font-style: italic;
  text-decoration: none;
  color: #8C6C8A;
  transition: .5s;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  color: #8C6C8A;
  font-family: monospace;
}

h2 {
  text-align: center;
  color: #8C6C8A;
  font-family: monospace;
}

h3 {
  text-align: center;
  color: #8C6C8A;
  height: 75px;
  font-family: monospace;
}

h4 {
  text-align: center;
  color: #8C6C8A;
  font-family: monospace;
  font: larger;
}

span {
  font-family: monospace;
  font: larger;
}

p {
  font-family: monospace;
  font-size: larger;
}

.movie-list {
  list-style-type: none;
  padding-left: 0; 
}

.movie-list li {
  margin-bottom: 20px;
}

.movie-marker {
  font-size: 12px;
  margin-right: 10px;
}

.movie-title {
  font-weight: bold;
}

.movie-release {
  font-size: 12px;
  margin-right: 10px;
}


.container {
  text-align: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 300px;
  margin: 0 auto;
  box-shadow: 0 0 5px #8C6C8A,
  0 0 25px #8C6C8A
}

.search-input:hover {
  box-shadow: 0 0 5px #8C6C8A,
  0 0 25px #8C6C8A, 0 0 50px #8C6C8A,
  0 0 100px #8C6C8A, 0 0 200px #8C6C8A;
}